
/* animations */

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
 }
 .show{
    opacity: 1;
    transform: translateX(0);
 }
 
/* hamburger animation */

.hm-menu:nth-child(2){
    opacity: 0;

}
.hm-menu:active{
    transform: rotate(180deg);
}


 /* @keyframes slide-right {
    to{
        transform: translateX(0);
    }
 }

 @keyframes slide-up {
    from{
        transform: translateY(+100%);
    }
    to{
        transform: translateY(0);
    }
 } */