/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.logo-text{
    display: flex;
}
/* .main-header *{
    display: flex;
} */
.nav-bar,
nav-bar ul{
    display: flex;
}
.nav-bar ul{
    display: flex;
}
